 

     input{

     height: 60px;
     text-indent: 25px;
     border: 2px solid #d6d4d4;


    }


     input:focus{

     box-shadow: none;
     border: 2px solid black;


    }

     .fa-search{

     position: absolute;
     top: 20px;
     left: 16px;

    }
